body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(img.jpeg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

#app {
  background: rgba(151, 88, 147, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

#user-input {
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  width: calc(100% - 24px);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.2s;
}

#user-input:focus {
  border-color: #311231;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  background-color: #5cacc2;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7391ae;
}

#results-div {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  background: #add0e0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}